<section class="about mb-300">
  <div class="about__content">
    <h3 class="about__content-h2 opacity-0 h2-y h2 mb-40">
      About <span class="span-green">Dywe</span>
    </h3>
    <div class="about__grid opacity-0">
      <article class="about__grid-item mini-app">
        <div class="about__grid-item-text">
          <p class="S-r-42">Mini-apps</p>
          <p class="M-r-16">
            Dywe is available in Telegram Mini-apps, making futures and NFT
            trading as convenient as possible. Trade directly in messenger -
            quickly and easily.
          </p>
        </div>
        <div class="about__grid-item-img mini-app-images">
          <picture>
            <source srcset="./assets/webp/Phone.webp" type="image/webp" />
            <img src="./assets/png/Phone.png" alt="Phone" />
          </picture>
        </div>
      </article>
      <article class="about__grid-item security">
        <div class="about__grid-item-text">
          <p class="S-r-42">Security</p>
          <p class="M-r-16">
            Trading at Dywe is secure thanks to smart contracts and audits.
            Smart contracts automate transactions and ensure that they are
            executed according to set terms and conditions, which also
            eliminates human error. Regular audits confirm the reliability and
            security of the platform, ensuring that every transaction is
            transparent and secure.
          </p>
        </div>
        <div class="about__grid-item-img security-images">
          <picture>
            <source
              class="security-images-lock1"
              srcset="./assets/webp/Lock1.webp"
              type="image/webp"
            />
            <img
              class="security-images-lock1"
              src="./assets/png/Lock1.png"
              alt="Lock"
            />
          </picture>
          <picture>
            <source
              class="security-images-lock2"
              srcset="./assets/webp/Lock1.webp"
              type="image/webp"
            />
            <img
              class="security-images-lock2"
              src="./assets/png/Lock1.png"
              alt="Lock"
            />
          </picture>
        </div>
      </article>
      <article class="about__grid-item assets">
        <div class="about__grid-item-text">
          <p class="S-r-42">Large selection of assets</p>
          <p class="M-r-16">
            Dywe offers a large selection of assets, including NFTs and tokens,
            which greatly expands your trading opportunities. The variety of
            assets available allows you to find unique investment opportunities
            and manage your portfolio as efficiently as possible.
          </p>
        </div>
        <div class="about__grid-item-img assets-images">
          <div class="assets-flex">
            <div class="assets-nfts">
              <picture>
                <source
                  class="assets-nfts-1 assets-absolute1"
                  srcset="./assets/webp/image1.webp"
                  type="image/webp"
                />
                <img
                  class="assets-nfts-1 assets-absolute1"
                  src="./assets/png/image1.png"
                  alt="Ton"
                />
              </picture>
              <picture>
                <source
                  class="assets-nfts-2 assets-absolute2"
                  srcset="./assets/webp/image2.webp"
                  type="image/webp"
                />
                <img
                  class="assets-nfts-2 assets-absolute2"
                  src="./assets/png/image2.png"
                  alt="Solana"
                />
              </picture>
              <picture>
                <source
                  class="assets-nfts-3 assets-absolute3"
                  srcset="./assets/webp/image3.webp"
                  type="image/webp"
                />
                <img
                  class="assets-nfts-3 assets-absolute3"
                  src="./assets/png/image3.png"
                  alt="Notcoin"
                />
              </picture>
            </div>
            <div class="assets-tokens">
              <img
                class="assets-tokens-1 assets-absolute1"
                src="./assets/svg/toncoin-ton-logo.svg"
                alt="Ton"
              />
              <img
                class="assets-tokens-2 assets-absolute2"
                src="./assets/svg/Solana.svg"
                alt="Solana"
              />
              <img
                class="assets-tokens-3 assets-absolute3"
                src="./assets/svg/notcoin.svg"
                alt="Notcoin"
              />
            </div>
          </div>
          <div class="assets-pen">
            <picture>
              <source srcset="./assets/webp/Pen.webp" type="image/webp" />
              <img src="./assets/png/Pen.png" alt="Pen" />
            </picture>
          </div>
        </div>
      </article>
      <article class="about__grid-item design">
        <div class="about__grid-item-text">
          <p class="S-r-42">Modern design</p>
          <p class="M-r-16">
            Dywe provides the most user-friendly design with an intuitive
            interface. This simplifies navigation and asset management, making
            the trading process easy and comfortable for all users.
          </p>
        </div>
      </article>
      <article class="about__grid-item position">
        <div class="about__grid-item-text">
          <p class="S-r-42">Position opening</p>
          <p class="M-r-16">
            In Dywe you can open your positions as conveniently and quickly as
            possible. The intuitive interface and optimised tools allow you to
            react instantly to market changes and effectively manage your
            assets.
          </p>
        </div>
        <div class="about__grid-item-img position-images">
          <div class="position-img">
            <picture>
              <source
                class="position-default-img"
                srcset="./assets/webp/Position350.webp"
                type="image/webp"
              />
              <img
                class="position-default-img"
                src="./assets/png/Position350.png"
                alt="position"
              />
            </picture>
            <picture>
              <source
                class="position-700"
                srcset="./assets/webp/Position690.webp"
                type="image/webp"
              />
              <img
                class="position-700"
                src="./assets/png/Position690.png"
                alt="position"
              />
            </picture>
            <picture>
              <source
                class="position-500"
                srcset="./assets/webp/Position500.webp"
                type="image/webp"
              />
              <img
                class="position-500"
                src="./assets/png/Position500.png"
                alt="position"
              />
            </picture>
            <picture>
              <source
                class="position-300"
                srcset="./assets/webp/Position300.webp"
                type="image/webp"
              />
              <img
                class="position-300"
                src="./assets/png/Position300.png"
                alt="position"
              />
            </picture>
            <picture>
              <source
                class="position-200"
                srcset="./assets/webp/Position200.webp"
                type="image/webp"
              />
              <img
                class="position-200"
                src="./assets/png/Position200.png"
                alt="position"
              />
            </picture>
          </div>
        </div>
      </article>
      <article class="about__grid-item liquidity">
        <div class="about__grid-item-text">
          <p class="S-r-42">Liquidity pools</p>
          <p class="M-r-16">
            At Dywe, a high-yield liquidity pool awaits you, offering attractive
            opportunities to grow your capital. Our pool provides stable and
            competitive returns thanks to optimised trading conditions.
            Transparency and security of all transactions, thanks to smart
            contracts, make our liquidity pool an ideal choice for those who
            seek to maximise returns and protect their assets.
          </p>
        </div>
        <div class="about__grid-item-img liquidity-images">
          <picture>
            <source
              class="liquidity-images-1"
              srcset="./assets/webp/Safe1.webp"
              type="image/webp"
            />
            <img
              class="liquidity-images-1"
              src="./assets/png/Safe1.png"
              alt="Safe"
            />
          </picture>
          <picture>
            <source
              class="liquidity-images-2"
              srcset="./assets/webp/Safe1.webp"
              type="image/webp"
            />
            <img
              class="liquidity-images-2"
              src="./assets/png/Safe1.png"
              alt="Safe"
            />
          </picture>
          <picture>
            <source
              class="liquidity-images-3"
              srcset="./assets/webp/Safe1.webp"
              type="image/webp"
            />
            <img
              class="liquidity-images-3"
              src="./assets/png/Safe1.png"
              alt="Safe"
            />
          </picture>
        </div>
      </article>
    </div>
  </div>
</section>
