<footer class="footer">
  <div class="footer__content container">
    <article class="footer__block-logo">
      <div class="footer__logo mb-14">
        <img class="footer__logo-img" src="./assets/svg/logo.svg" alt="Logo" />
        <p class="footer__logo-name logo">Dywe</p>
      </div>
      <p class="M-r-14 mb-20">
        First trading exchange with NFT futures trading in the TON ecosystem
      </p>
      <p class="M-r-14 text-50">© 2024 DYWE</p>
    </article>
    <div class="footer__content-grid">
      <article class="footer__content-grid-item item1">
        <p class="S-b-20 mb-14">Docs</p>
        <ul class="footer__content-grid-item-ul">
          <li class="footer__content-grid-item-ul">
            <a class="footer__content-grid-item-ul M-r-14 text-50" href="#"
              >Whitepaper</a
            >
          </li>
          <li class="footer__content-grid-item-ul">
            <a class="footer__content-grid-item-ul M-r-14 text-50" href="#"
              >Terms of use</a
            >
          </li>
          <li class="footer__content-grid-item-ul">
            <a class="footer__content-grid-item-ul M-r-14 text-50" href="#"
              >Privacy policy</a
            >
          </li>
          <li class="footer__content-grid-item-ul">
            <a class="footer__content-grid-item-ul M-r-14 text-50" href="#"
              >User guide</a
            >
          </li>
        </ul>
      </article>
      <article class="footer__content-grid-item item1">
        <p class="S-b-20 mb-14">Developers</p>
        <ul class="footer__content-grid-item-ul">
          <li class="footer__content-grid-item-ul">
            <a class="footer__content-grid-item-ul M-r-14 text-50" href="#"
              >GitHub</a
            >
          </li>
          <li class="footer__content-grid-item-ul">
            <a class="footer__content-grid-item-ul M-r-14 text-50" href="#"
              >GitLab</a
            >
          </li>
          <li class="footer__content-grid-item-ul">
            <a class="footer__content-grid-item-ul M-r-14 text-50" href="#"
              >GitBook</a
            >
          </li>
          <li class="footer__content-grid-item-ul">
            <a class="footer__content-grid-item-ul M-r-14 text-50" href="#"
              >CookBook</a
            >
          </li>
        </ul>
      </article>
      <article class="footer__content-grid-item item1">
        <p class="S-b-20 mb-14">Social</p>
        <ul class="footer__content-grid-item-ul">
          <li class="footer__content-grid-item-ul">
            <a class="footer__content-grid-item-ul M-r-14 text-50" href="#"
              >Twitter</a
            >
          </li>
          <li class="footer__content-grid-item-ul">
            <a class="footer__content-grid-item-ul M-r-14 text-50" href="#"
              >Telegram</a
            >
          </li>
          <li class="footer__content-grid-item-ul">
            <a class="footer__content-grid-item-ul M-r-14 text-50" href="#"
              >YouTube</a
            >
          </li>
          <li class="footer__content-grid-item-ul">
            <a class="footer__content-grid-item-ul M-r-14 text-50" href="#"
              >Discrod</a
            >
          </li>
        </ul>
      </article>
      <article class="footer__content-grid-item item1">
        <p class="S-b-20 mb-14">Support</p>
        <ul class="footer__content-grid-item-ul">
          <li class="footer__content-grid-item-ul">
            <a class="footer__content-grid-item-ul M-r-14 text-50" href="#"
              >dywe.supportdywe.com</a
            >
          </li>
          <li class="footer__content-grid-item-ul">
            <a class="footer__content-grid-item-ul M-r-14 text-50" href="#"
              >DyweSupportManager</a
            >
          </li>
        </ul>
      </article>
    </div>
  </div>
</footer>
