<header class="header mt50">
  <div class="header__content">
    <div class="header__logo">
      <img class="header__logo-img" src="./assets/svg/logo.svg" alt="Logo" />
      <p class="header__logo-name logo">Dywe</p>
    </div>
    <nav class="header__navigation">
      <ul class="header__navigation-ul">
        <li class="header__navigation-li">
          <a class="header__navigation-a nav-link" href="#">Trade</a>
        </li>
        <li class="header__navigation-li">
          <a class="header__navigation-a nav-link" href="#">About us</a>
        </li>
        <li class="header__navigation-li">
          <a class="header__navigation-a nav-link" href="#">Faq</a>
        </li>
      </ul>
    </nav>
    <div class="header__buttons">
      <a class="header__buttons-link button btn-header" href="#">Start Now</a>

      <button #buttonMobile (click)="toggle()" class="header__buttons-menu">
        <span class="header__buttons-menu-line line1"></span>
        <span class="header__buttons-menu-line line2"></span>
        <span class="header__buttons-menu-line line3"></span>
      </button>
    </div>
  </div>
</header>
