@import "@gStyles/mixins.scss";

.header {
  animation: headerAnim 0.7s ease-in-out;
  margin-bottom: 140px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0px 12px;
  }

  &__navigation {
    &-ul {
      display: flex;
      align-items: center;
      gap: 36px;
    }

    &-a {
      color: var(--text-color);
      transition: all 0.4s ease-in-out;
    }

    &-a:hover {
      color: var(--accent-color);
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 40px;

    &-menu {
      display: none;
      width: 50px;
      height: 30px;
      position: relative;
      z-index: 3;

      &-line {
        position: absolute;
        right: 0px;
        height: 2px;
        background-color: var(--accent-color);
        transition: all 0.5s ease-in-out;
      }
    }
    &-menu.active {
      .line1 {
        top: 50%;
        width: 100%;
        transform: rotate(45deg);
      }
      .line2 {
        top: 50%;
        width: 100%;
        transform: rotate(-45deg);
      }
      .line3 {
        top: 50%;
        width: 100%;
        transform: rotate(-45deg);
      }
    }
  }
}

.line1 {
  top: 0px;
  width: 60%;
}

.line2 {
  top: 15px;
  width: 80%;
}

.line3 {
  top: 30px;
  width: 100%;
}

@keyframes headerAnim {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 1230px) {
  .header {
    margin-bottom: 70px;
  }
  .header__navigation {
    display: none;
  }
  .header__buttons-menu {
    display: block;
  }
}

@media (max-width: 630px) {
  .header__buttons-link {
    display: none;
  }
}
