<section class="social mb-140">
  <div class="social__content">
    <article class="social__content-info">
      <h3 class="social__content-info-h3 h3 mb-12">Join our family!</h3>
      <p class="social__content-info-text text-50 M-r-24 mb-26">
        Be one of the first to know about important updates Make new
        acquaintances and discuss the market!
      </p>
      <div class="social__content-info-buttons">
        <a class="social__content-info-button button btn-social-icon" href="#">
          <img src="./assets/svg/telegram.svg" alt="Telegram Icon" />
          <p>Telegram</p>
        </a>
        <a class="social__content-info-button button btn-social-icon" href="#">
          <img src="./assets/svg/x.svg" alt="Twitter Icon" />
          <p>Twitter</p>
        </a>
      </div>
    </article>
    <div class="social__content-image">
      <img src="./assets/png/Illustration.png" alt="Illustration" />
    </div>
  </div>
</section>
