<div class="nav-mobile">
  <div class="container">
    <div class="nav-mobile__content pt-50 pb-100">
      <div class="nav-mobile__btn">
        <a class="button btn-header" href="#">Start Now</a>
      </div>
      <nav class="nav-mobile__navigation">
        <ul class="nav-mobile__navigation-ul">
          <li class="nav-mobile__navigation-li">
            <a class="nav-mobile__navigation-a nav-link-mob" href="#">Trade</a>
          </li>
          <li class="nav-mobile__navigation-li">
            <a class="nav-mobile__navigation-a nav-link-mob" href="#"
              >About us</a
            >
          </li>
          <li class="nav-mobile__navigation-li">
            <a class="nav-mobile__navigation-a nav-link-mob" href="#">Faq</a>
          </li>
        </ul>
      </nav>
      <app-social-links />
    </div>
  </div>
</div>
