<section class="metrics mb-300">
  <div class="metrics__content">
    <h2 class="metrics__content-h2 h2-y opacity-0 h2 mb-40">
      Metrics <span class="span-green">Dywe</span>
    </h2>
    <div class="metrics__grid">
      <app-metric-card
        [value]="'Soon..'"
        [id]="'tvl'"
        [title]="'USDT'"
        [cardId]="'1'"
      />
      <app-metric-card
        [value]="'Soon..'"
        [id]="'on-chain'"
        [title]="'USERS'"
        [cardId]="'2'"
      />
      <app-metric-card
        [value]="'Soon..'"
        [id]="'voluem'"
        [title]="'USDT'"
        [cardId]="'3'"
      />
      <app-metric-card
        [value]="'Soon..'"
        [id]="'total'"
        [title]="'DEAL'"
        [cardId]="'4'"
      />
    </div>
  </div>
</section>
