<section class="metrics mb-140">
  <div class="metrics__content">
    <h2 class="metrics__content-h2 h2 mb-40">
      Metrics <span class="span-green">Dywe</span>
    </h2>
    <div class="metrics__grid">
      <app-metric-card [value]="'Soon..'" [id]="'tvl'" [title]="'USDT'" />
      <app-metric-card [value]="'Soon..'" [id]="'on-chain'" [title]="'USERS'" />
      <app-metric-card [value]="'Soon..'" [id]="'voluem'" [title]="'USDT'" />
      <app-metric-card [value]="'Soon..'" [id]="'total'" [title]="'DEAL'" />
    </div>
  </div>
</section>
