.mb-12 {
  margin-bottom: 12px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-26 {
  margin-bottom: 26px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt50 {
  margin-top: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-300 {
  margin-bottom: 300px;
}
