<main class="main mb-300">
  <div class="main__content">
    <div class="main__content-offer">
      <div class="main__content_offer-h mb-16">
        <h1 class="main__content-offer-h1 h1 span-green">Dywe</h1>
        <p class="S-ru-52">
          is your access point to limitless trade on the
          <span class="span-green S-ru-52">TON network</span>
        </p>
      </div>
      <p class="main__content-offer-info M-r-28 text-50 mb-48">
        Dive into the world of NFT trading with Dywe!
      </p>
      <div class="main__content-offer-buttons">
        <a href="#" class="main__content-offer-button button btn-main"
          >Get Started</a
        >
        <app-social-links-main />
      </div>
    </div>
    <div class="main__content-images">
      <div class="anim-block"></div>
      <picture class="main__content-images-graphic">
        <source
          media="(max-width: 1430px)"
          srcset="./assets/png/Graph-Adaptive.png"
        />
        <img src="./assets/png/Graph.png" alt="Graphic" />
      </picture>
      <div class="main__content-images-nft-block nft-1">
        <img
          class="main__content-images-nft"
          src="./assets/png/image1.png"
          alt="NFT"
        />
      </div>
      <div class="main__content-images-nft-block nft-2">
        <img
          class="main__content-images-nft"
          src="./assets/png/image2.png"
          alt="NFT"
        />
      </div>
      <div class="main__content-images-nft-block nft-3">
        <img
          class="main__content-images-nft"
          src="./assets/png/image3.png"
          alt="NFT"
        />
      </div>
      <div class="main__content-images-nft-block nft-4">
        <img
          class="main__content-images-nft"
          src="./assets/png/image4.png"
          alt="NFT"
        />
      </div>
      <div class="main__content-images-nft-block nft-5">
        <img
          class="main__content-images-nft"
          src="./assets/png/image5.png"
          alt="NFT"
        />
      </div>
      <div class="main__content-images-nft-block nft-6">
        <img
          class="main__content-images-nft"
          src="./assets/png/image6.png"
          alt="NFT"
        />
      </div>
      <div class="main__content-images-nft-block nft-7">
        <img
          class="main__content-images-nft"
          src="./assets/png/image7.png"
          alt="NFT"
        />
      </div>
      <div class="main__content-images-nft-block nft-8">
        <img
          class="main__content-images-nft"
          src="./assets/png/image8.png"
          alt="NFT"
        />
      </div>
    </div>
    <div class="main__content-images-mob">
      <div class="main__content-images-mob-nft-block nft-mob1">
        <img
          class="main__content-images-mob-nft"
          src="./assets/png/image1.png"
          alt="NFT"
        />
      </div>
      <div class="main__content-images-mob-nft-block nft-mob2">
        <img
          class="main__content-images-mob-nft"
          src="./assets/png/image3.png"
          alt="NFT"
        />
      </div>
      <div class="main__content-images-mob-nft-block nft-mob3">
        <img
          class="main__content-images-mob-nft"
          src="./assets/png/image6.png"
          alt="NFT"
        />
      </div>
      <div class="main__content-images-mob-nft-block nft-mob4">
        <img
          class="main__content-images-mob-nft"
          src="./assets/png/image8.png"
          alt="NFT"
        />
      </div>
      <div class="main__content-images-mob-nft-block nft-mob5">
        <img
          class="main__content-images-mob-nft"
          src="./assets/png/image5.png"
          alt="NFT"
        />
      </div>
      <div class="main__content-images-mob-nft-block nft-mob6">
        <img
          class="main__content-images-mob-nft"
          src="./assets/png/image7.png"
          alt="NFT"
        />
      </div>
    </div>
  </div>
</main>
