.functionality {
  &__content {
  }
  &__h2 {
    text-align: center;
  }
  &__grid {
    transform: translateY(100px);
    display: grid;
    grid-template-columns: repeat(2, minmax(480px, 680px));
    grid-template-rows: repeat(2, 260px);
    gap: 30px;
  }
  &__card {
    cursor: pointer;
    position: relative;
    transition: all 0.7s ease-in-out;

    overflow: hidden;
    border: 1px solid var(--border2-color);
    border-radius: 18px;
    padding: 35px;
    &-info {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &:hover {
      transform: scale(1.02);
    }
  }
}

.card-lock {
  position: relative;
  .functionality__card-info,
  .functionality__card-bg {
    user-select: none;

    opacity: 0.3;
  }
}

.card-lock::before {
  position: absolute;
  content: "";
  top: 50%;
  z-index: 2;
  left: 50%;
  width: 120px;
  height: 110px;
  background-image: url("/assets/svg/lock.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.trade-nft {
  grid-column: 1/2;
  grid-row: 1/2;
}
.trade-nft-bg-img {
  width: 80px;
  height: 100px;
  position: absolute;
  z-index: -1;
  opacity: 0.75;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid var(--border2-color);
  }
}

.bg-nft-1 {
  top: -35px;
  right: 210px;
  transform: rotate(-17deg);
}
.bg-nft-2 {
  top: 45px;
  right: 25px;
  transform: rotate(12deg);
}
.bg-nft-3 {
  bottom: -45px;
  right: 155px;
  transform: rotate(24deg);
}

.liqud {
  grid-column: 2/3;
  grid-row: 1/2;
}

.liq-bg {
}
.liq-bg-img {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
}
.bg-liq-1 {
  transform: rotate(-20deg);
  bottom: -52px;
  right: 174px;
}
.bg-liq-2 {
  transform: rotate(-20deg) scaleX(-1) scale(0.97);
  top: 56px;
  right: -37px;
  filter: blur(1.5px);
}
.bg-liq-3 {
  transform: rotate(-20deg) scale(0.94);
  top: -46px;
  right: 138px;
  filter: blur(2px);
}

.liqud {
  grid-column: 1/2;
  grid-row: 2/3;
}
.trade-jettons-bg {
}
.trade-jettons-bg-img {
  width: 70px;
  height: 70px;
  opacity: 0.4;
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--border2-color);
  transform: rotate(20deg);
  z-index: -1;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.bg-jettons-1 {
  top: -58px;
  right: 142px;
}
.bg-jettons-2 {
  top: -22px;
  right: 46px;
}
.bg-jettons-3 {
  top: 12px;
  right: -48px;
}
.bg-jettons-4 {
  top: 26px;
  right: 173px;
}
.bg-jettons-5 {
  top: 61px;
  right: 77px;
}
.bg-jettons-6 {
  top: 97px;
  right: -17px;
}
.bg-jettons-7 {
  top: 110px;
  right: 204px;
}
.bg-jettons-8 {
  top: 146px;
  right: 108px;
}
.bg-jettons-9 {
  top: 181px;
  right: 13px;
}
.bg-jettons-10 {
  top: 195px;
  right: 235px;
}
.bg-jettons-11 {
  top: 230px;
  right: 140px;
}

.bg-jettons-12 {
  top: -100%;
  right: -100%;
}

.copy-trading {
  grid-column: 2/3;
  grid-row: 2/3;
}

.copy-trade-bg {
}
.copy-trade-bg-img {
  position: absolute;
  z-index: -1;
}
.bg-copy-trade {
  width: 237px;
  height: 220px;
  top: 18px;
  right: 35px;
}

@media (max-width: 1230px) {
  .functionality__grid {
    grid-template-columns: repeat(1, minmax(280px, 980px));
    grid-template-rows: repeat(4, minmax(180px, 250px));
  }
  .liqud {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .trade-jettons {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .copy-trading {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

@media (max-width: 630px) {
  .functionality__grid {
    grid-template-columns: repeat(1, minmax(280px, 980px));
    grid-template-rows: repeat(4, 350px);
  }
  .bg-copy-trade {
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .bg-jettons-1 {
    top: 62px;
    right: 162px;
  }
  .bg-jettons-2 {
    top: 92px;
    right: 76px;
  }
  .bg-jettons-3 {
    top: 118px;
    right: -10px;
  }
  .bg-jettons-4 {
    top: 136px;
    right: 213px;
  }
  .bg-jettons-5 {
    top: 171px;
    right: 117px;
  }
  .bg-jettons-6 {
    top: 207px;
    right: 23px;
  }
  .bg-jettons-7 {
    top: 220px;
    right: 244px;
  }
  .bg-jettons-8 {
    top: 256px;
    right: 148px;
  }
  .bg-jettons-9 {
    top: 291px;
    right: 47px;
  }
  .bg-jettons-10 {
    top: 305px;
    right: 275px;
  }
  .bg-jettons-11 {
    top: 340px;
    right: 180px;
  }
  .bg-jettons-12 {
    top: 370px;
    right: 75px;
  }
}

@media (max-width: 430px) {
  .functionality__grid {
    grid-template-rows: repeat(4, 390px);
  }
  .bg-jettons-1 {
    right: 122px;
  }
  .bg-jettons-2 {
    right: 36px;
  }
  .bg-jettons-3 {
    right: -50px;
  }
  .bg-jettons-4 {
    right: 173px;
  }
  .bg-jettons-5 {
    right: 77px;
  }
  .bg-jettons-6 {
    right: -17px;
  }
  .bg-jettons-7 {
    right: 204px;
  }
  .bg-jettons-8 {
    right: 108px;
  }
  .bg-jettons-9 {
    right: 7px;
  }
  .bg-jettons-10 {
    right: 235px;
  }
  .bg-jettons-11 {
    right: 140px;
  }
  .bg-jettons-12 {
    right: 35px;
  }
}
