<section class="functionality mb-300">
  <div class="functionality__content">
    <h2 class="h2 functionality__h2 h2-y opacity-0 mb-40">
      Our <span class="span-green">Features</span>
    </h2>
    <div class="functionality__grid mt50">
      <article class="functionality__card trade-nft card-lock">
        <div class="functionality__card-info">
          <p class="S-r-52-a span-green">Trading NFT</p>
          <p class="M-r-20">
            Discover NFT futures trading with Dywe. Trade popular collections
            with up to 50x leverage without buying assets directly.
          </p>
        </div>
        <div class="functionality__card-bg trade-nft-bg">
          <div class="trade-nft-bg-img bg-nft-1">
            <img src="./assets/png/image7.png" alt="NFT" />
          </div>
          <div class="trade-nft-bg-img bg-nft-2">
            <img src="./assets/png/image5.png" alt="NFT" />
          </div>
          <div class="trade-nft-bg-img bg-nft-3">
            <img src="./assets/png/image4.png" alt="NFT" />
          </div>
        </div>
      </article>
      <article class="functionality__card liqud card-lock">
        <div class="functionality__card-info">
          <p class="S-r-52-a span-green">Liquidity</p>
          <p class="M-r-20">
            Deposit your assets and earn from the service's commissions passing
            through the pool. Your funds work for you, providing liquidity for
            traders and generating stable passive income in the Dywe ecosystem.
          </p>
        </div>
        <div class="functionality__card-bg liq-bg">
          <div class="liq-bg-img bg-liq-1">
            <img src="./assets/png/safe-liq-card.png" alt="liq" />
          </div>
          <div class="liq-bg-img bg-liq-2">
            <img src="./assets/png/safe-liq-card.png" alt="liq" />
          </div>
          <div class="liq-bg-img bg-liq-3">
            <img src="./assets/png/safe-liq-card.png" alt="liq" />
          </div>
        </div>
      </article>
      <article class="functionality__card trade-jettons">
        <div class="functionality__card-info">
          <p class="S-r-52-a span-green">Trading Jettons</p>
          <p class="M-r-20">
            Trade leading cryptocurrencies with leverage up to 50x, increasing
            your profit opportunities. Highly functional tools are available in
            Dywe that will allow you to expand your trading opportunities.
          </p>
        </div>
        <div class="functionality__card-bg trade-jettons-bg">
          <div class="trade-jettons-bg-img bg-jettons-1">
            <img src="./assets/svg/Solana.svg" alt="JETTONS" />
          </div>
          <div class="trade-jettons-bg-img bg-jettons-2">
            <img src="./assets/svg/notcoin.svg" alt="JETTONS" />
          </div>
          <div class="trade-jettons-bg-img bg-jettons-3">
            <img src="./assets/svg/toncoin-ton-logo.svg" alt="JETTONS" />
          </div>
          <div class="trade-jettons-bg-img bg-jettons-4">
            <img src="./assets/svg/Solana.svg" alt="JETTONS" />
          </div>
          <div class="trade-jettons-bg-img bg-jettons-5">
            <img src="./assets/svg/notcoin.svg" alt="JETTONS" />
          </div>
          <div class="trade-jettons-bg-img bg-jettons-6">
            <img src="./assets/svg/toncoin-ton-logo.svg" alt="JETTONS" />
          </div>
          <div class="trade-jettons-bg-img bg-jettons-7">
            <img src="./assets/svg/Solana.svg" alt="JETTONS" />
          </div>
          <div class="trade-jettons-bg-img bg-jettons-8">
            <img src="./assets/svg/notcoin.svg" alt="JETTONS" />
          </div>
          <div class="trade-jettons-bg-img bg-jettons-9">
            <img src="./assets/svg/toncoin-ton-logo.svg" alt="JETTONS" />
          </div>
          <div class="trade-jettons-bg-img bg-jettons-10">
            <img src="./assets/svg/Solana.svg" alt="JETTONS" />
          </div>
          <div class="trade-jettons-bg-img bg-jettons-11">
            <img src="./assets/svg/notcoin.svg" alt="JETTONS" />
          </div>
          <div class="trade-jettons-bg-img bg-jettons-12">
            <img src="./assets/svg/toncoin-ton-logo.svg" alt="JETTONS" />
          </div>
        </div>
      </article>
      <article class="functionality__card copy-trading">
        <div class="functionality__card-info">
          <p class="S-r-52-a span-green">Copy Trading</p>
          <p class="M-r-20">
            Connect to successful traders and automatically replicate their
            trades. Generate income without the need for in-depth market
            knowledge.
          </p>
          <div class="functionality__card-bg copy-trade-bg">
            <div class="copy-trade-bg-img bg-copy-trade">
              <img src="./assets/png/copy-tade-img.png" alt="copy-trade" />
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
